<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Amazon Price Drop Notifier Web App</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel= "stylesheet" href = "../static/css/bootstrap.css">
    <link rel = "stylesheet" href = "../static/css/main.css">
</head>

<body>

    <div class = "container">

        <div class = "row">
            <div class = "col-sm-12">
                <h1 align = "center">
                    timesheet
                </h1>
            </div>
        </div>
            <p align = "center">
                keeping track of your time for you.
            </p>
    </div>

    <div class = "container">
        <div class = "row">
            <div id = "register">
                <form action = "/register" method = "post" align = "center" autocomplete = off>
                    <h4>
                        <i>Register as New User</i>
                    </h4>
                    Username
                    <br>
                    <input title = "username" type = "text" name = "username">
                    <br>
                    Password
                    <br>
                    <input title = "password" type = "text" name = "password">
                    <br>
                    <br>
                    <input type = "submit">
                </form>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "row">
            <div class = "col-sm-6 col-centered" id = "user_items">
                <form action = "/login" method = "get" align = "center" autocomplete = off>
                    <h4>
                        <i>Login</i>
                    </h4>
                    Username
                    <br>
                    <input title = "username" type = "text" name = "username">
                    <br>
                    Password
                    <br>
                    <input title = "password" type = "text" name = "password">
                    <br>
                    <br>
                    <input type = "submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>